.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-gallery img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
}

.image-gallery img.selected {
  border-color: blue;
}
.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.account-wrapper {
  margin-left: 25%;
}
