.login-main {
  min-height: calc(100vh - 120px);
}
.login-logo-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.login-logo {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  animation: bounce 1s ease-in-out infinite; /* Apply the bounce animation */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
