.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  animation: spin 2s linear infinite; /* Apply animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
